
h3{
   color: white;
}
.fondo-cabecera{
  background-color: rgba(138, 8, 41, 0.85);
}
.fondo-redes{
   background: white;
}
.fondo-navegador{
  background: orange;
}
.main{
  background: #BDBDBD;
}
.fondo-panel-derecho{
  background-color: rgba(16, 49, 239, 0.75);
}
.fondo-panel-izquierdo{
  background:#819FF7;
}
.dimension-logo{
	width:70px;
	height:70px;
}
.img-social{
	width: 35px;
	height: 30px;
   margin-top: 1px;
	margin-bottom: 2px;
}
.img-panel{
   width: 100%;
   min-height: 160px;
}
.row-centrado {
   text-align:center;
   padding-top: 5%;
   padding-bottom: 5%;
}
.img-comentario{
   width: 100%;
   min-width: 60px;
   max-height: 60px;
   text-align: center;
   padding-top: 10px;
}
